[2015-03-02 21:29] richfitz opened #1 "Including jqr sources"
For eventual CRAN release, we'll need to include the jqr sources.  I've held off doing that for now partly because they're big *and require some careful .gitignore editing) and partly so that the distribution requirements/obligations are met.

* I think we need to list the jqr authors in the DESCRIPTION field - there's some advice on this *somewhere* in R-exts.
* Decide whether to keep the version

[2015-03-03 00:30] sckott commented on #1
for listing authors, perhaps like in git2r https://github.com/ropensci/git2r/blob/master/DESCRIPTION#L13 and the AUTHORS file in `/inst` https://github.com/ropensci/git2r/blob/master/inst/AUTHORS

[2015-03-03 00:34] richfitz commented on #1
Good idea - we can automatically include the AUTHORS file from jq during bootstrap (https://github.com/stedolan/jq/blob/master/AUTHORS)

[2015-03-03 00:37] sckott opened #2 "Process returned elements"
The returned output from jq may not be proper json, but a sort of vector of json strings.

[code]

Process these by default I imagine, so something like

[code]

[2015-03-03 00:46] richfitz commented on #2
Yeah - see the note just below `jqr_conv` in `tests/testthat/test-spec.R` - getting nice semantics (without sappy-like pitfalls here) is going to be hard; it's not clear without running the jq program if the expectation is a list back or a single element.

[2015-03-03 00:53] sckott opened #3 "higher level dsl"
As @richfitz mentioned, [rex](https://github.com/kevinushey/rex) provides a good example of how we could build a dsl to define jq queries. @richfitz you like the lazyeval approach? want to use here?

[2015-03-03 01:05] richfitz commented on #3
dplyr would be the other place to look, as many of the verbs are going to be the same.  Unfortunately I don't really use the package so can't really comment.  lazyeval seems like the right call, probably using https://github.com/hadley/lazyeval

[2015-03-08 16:51] sckott commented on #3
@richfitz started hacking on dsl a bit, e.g.,

[code]

[2015-03-08 20:57] richfitz commented on #3
Are there ways of testing if the operator is the last in a chain?  Then we could omit the jq() call [e.g.](http://stackoverflow.com/questions/24421250/how-can-you-tell-if-a-pipe-operator-is-the-last-or-first-in-a-chain)?  But this whole chaining thing is pretty new to me :smiley:

[2015-03-09 17:12] sckott commented on #3
good question @richfitz - i have asked Stefan before, - maybe that SO thread has an answer  - I'll try that, would be nice to get rid of `jq()` call at the end.

With `rex`, it seems that they don't pipe operations together, but instead compose one big query specification. Do you think that's a better approach? I think probably not, but that would be easier to develop i guess

[2015-03-20 00:31] sckott opened #5 "Some assignment operators don't work yet"
e.g., `+=`  `-=` `*=` `/=` `%=` `//=`
they fail when being passed into `...` in a call

[2015-03-20 22:29] sckott opened #6 "Fix `show()`"
doesn't work all the time

[2015-03-21 15:14] sckott opened #7 "Make pretty print by default"

[2015-03-21 15:56] #7 closed

[2015-03-30 22:41] richfitz opened #8 "Incorporate streaming"
The bits that we put together in [rivr](https://github.com/vsbuffalo/rivr) should be useful here.

[2015-05-22 15:35] sckott commented on #8
@richfitz you added `jq_iterator()` and tests - more to add? or should we close

[2015-05-22 15:47] sckott commented on #2
Seems like we shouldn't worry about this too much. Users can coerce to lists if they want.

[2015-05-22 15:47] #2 closed

[2015-05-22 16:16] sckott opened #9 "jq versions"
@richfitz should we update to the 1.5rc https://github.com/stedolan/jq/releases/tag/jq-1.5rc1 or wait until next stable?

[2015-05-22 17:39] #6 closed

[2015-05-22 19:10] #5 closed

[2015-05-22 20:10] sckott opened #10 "select() doesn't work..."

[2015-05-22 22:12] #10 closed

[2015-05-22 22:24] sckott opened #11 "A way to combine pieces?"
[code]
gives

[code]

Those pieces aren't valid json, each piece is, but not all together.

A convenience function to attempt to combine these pieces would be useful, e.g, take output above and pass through a function

[code]

[2015-05-23 08:07] richfitz commented on #9
I think we wait for the next stable, unless there is something really attractive looking in 1.5

[2015-05-24 00:17] #1 closed

[2015-06-08 22:50] sckott opened #13 "chmod not found on windows"
screenshot form my windows machine

![](http://f.cl.ly/items/3h0w2e1q20391a3a3E2C/Screen%20Shot%202015-06-08%20at%203.49.11%20PM.png)

is there an easy way to fix this?

[2015-06-09 08:02] justa9 commented on #13
Yes. You may install gnuwin32 coreutils which include a chmod.exe.
http://gnuwin32.sourceforge.net/packages/coreutils.htm

I successfully managed to build the development version of jqr on Windows XP (!) by doing exactly that. All tests I ran from the mainpage produced the expected results.

[code]

Another thing: Would you find it useful if jqr was extended so that it can act as a wrapper to an i

[2015-06-09 08:41] richfitz commented on #13
jqr is not using the jq program, but libjq which I don't think is installed by default?

[2015-06-09 16:07] sckott commented on #13
@justa9 Great, thanks for trying jqr!

I'm not sure what the best approach is here, so I'm just asking questions.

@richfitz for the above, this would require user to do that manually, right? I think we want a solution that doesn't require an extra user step ideally

[2015-07-08 05:03] richfitz opened #14 "Functions to avoid in library code"
[code]

[2015-07-08 05:04] richfitz commented on #14
Interestingly this only happens when building the sources within `src` (which I'm trying at the moment) rather than building as a library and then linking (which is what is on the travis log at the moment).

[2015-08-17 13:27] sckott commented on #9
v1.5 out https://github.com/stedolan/jq/releases/tag/jq-1.5 - time to update

[2015-08-17 13:53] richfitz opened #15 "Upgrade to 1.5"
See #9

[2015-08-17 14:20] #15 closed

[2015-08-17 14:20] #9 closed

[2015-12-17 15:22] sckott opened #16 "Execute jq() on last pipe"
@smbache Curious if you know how we can sort this out.

This package wraps jq https://stedolan.github.io/jq/

We have a low level interface to execute jq commands just as you would on the cli, but also a higher level DSL, that supports piping https://github.com/ropensci/jqr#high-level

Right now, you can build up a set of jq commands with the DSL, but then at the end you execute with `jq()`

Know

[2015-12-17 18:59] smbache commented on #16
It's possible, although it is a little tricky (maybe there's a better way).
BTW, what is dplyr calling on after a last pipe?

Anyway, here's a small boiled down example, maybe it can be prettier.

[code]

[2015-12-17 19:02] smbache commented on #16
PS: This is activated if `f` is anywhere in the pipeline, and only if it has not already been done.
It will be called on the final result, before returning from the pipe.

[2015-12-17 19:48] sckott commented on #16
@smbache  thanks very much, this looks like exactly what I need!

I don't know. @hadley how do you know to execute commands in `dplyr` after the last pipe?

[2015-12-17 20:00] smbache commented on #16
no worries! BTW seems like a cool pkg, this!

[2015-12-17 20:48] hadley commented on #16
It's in the print method in dplyr, but it doesn't run the whole query - it just runs enough to retrieve n rows. You have to use an explicit `collect()` to get everything

[2015-12-17 20:54] smbache commented on #16
@sckott let me know if the above is useful then, and if you need me to elaborate on what's going on. The names should help a bit, but they can do only so much...

[2015-12-17 21:07] sckott commented on #16
Thanks @hadley !

@smbache will do, will try implementing soon

[2015-12-17 23:02] sckott opened #17 "Put pretty print in jq()"
Given #16 - `jq()` `pretty` param isn't really easily accessible. Perhaps add a sep function

[2015-12-17 23:52] sckott commented on #16
@smbache works great - implemented on `dsl-pipe-fix`, `devtools::install_github("ropensci/jqr", ref="dsl-pipe-fix")`

e.g.,

[code]

[code]

[code]

no need for the `jq()` call at the end now :)

[2015-12-18 00:05] karthik commented on #16
This is super cool! :100:

[2015-12-18 00:15] sckott commented on #16
thx - almost to a CRAN 1st version

[2015-12-18 06:02] smbache commented on #16
Great!! :)

[2015-12-18 06:57] smbache commented on #17
Just though of this, see you beat me to it. +1 for pretty fun.

[2015-12-18 08:33] richfitz commented on #16
Thanks so much @smbache and @hadley

[2015-12-18 10:43] richfitz opened #18 "Trigger print functions in tests to check the patch works"
The fix to #14 is essentially untested; it would be nice if we can come up with tests that tickle the patched code.

[2015-12-18 10:55] richfitz opened #19 "Vignette"
Once the DSL exists, need a vignette.

Might be worth having material covering both the DSL and direct interface.

[2015-12-18 10:58] richfitz commented on #13
Fixed on branch, waiting for merge.

[2015-12-18 11:01] richfitz opened #20 "Don't import all of lazyeval"
Currently in R/select.R we have `#' @import lazyeval`; prefer `lazyeval::<....>` which we actually already have.

Hold off on fixing this until the DSL fixes are in.

[2015-12-18 12:52] smbache commented on #16
Wondering if you need some of the functions to switch off the mechanism? Say `peek`...

[2015-12-18 15:17] sckott opened #21 "Move is_piped call inside check_piped"
https://github.com/ropensci/jqr/commit/0be559f21ef52f2d19f2438ccae554eed412b400#commitcomment-15059265

[2015-12-18 15:18] sckott commented on #20
and `@importFrom lazyeval fxn1 fxn2` ?

[2015-12-18 15:18] richfitz commented on #20
nah, just the double colon is enough

[2015-12-18 15:21] sckott commented on #16
@smbache  Yes, for `peek`, `combine`, and possibly others, Any ideas?

[2015-12-18 17:27] smbache commented on #16
Sure. I have modified my original example to go both ways. I included example documentation, which you can use if you feel like it. I could have made a PR, but I'll let you do the dirty work ;-) Let me know if this is successful:

[code]

[2015-12-18 19:00] sckott commented on #16
@smbache Awesome, thanks, will try this soon...

[2015-12-18 22:12] sckott commented on #21
closing, replaced with new code, see https://github.com/ropensci/jqr/issues/16#issuecomment-165846812

[2015-12-18 22:12] #21 closed

[2015-12-18 23:06] #14 closed

[2015-12-18 23:06] #16 closed

[2015-12-18 23:06] #17 closed

[2015-12-18 23:10] sckott commented on #8
@richfitz hmm, you added this to the CRAN release milestone. I thought we were dropping `rivr` things for now, and bringing back later possibly?  I made man file for `jq_iterator` internal only. Perhaps should move the file out of `R/` as well so we don't get cran check notes on the call to `rivr`

[2015-12-18 23:10] sckott commented on #11
this is sorted

[2015-12-18 23:10] #11 closed

[2015-12-18 23:10] sckott commented on #13
i assume this is done, reopen if not @richfitz

[2015-12-18 23:10] #13 closed

[2015-12-18 23:11] sckott commented on #3
this is fully implemented now, i'll open a separate issue asking for feedback on the DSL

[2015-12-18 23:11] #3 closed

[2015-12-18 23:11] sckott commented on #19
- [ ] low level vignette
- [ ] DSL vignette

[2015-12-19 00:07] sckott opened #23 "indexif should return NULL, and not error"
e.g.,

[code]

[2015-12-19 00:21] sckott commented on #19
started DSL vignette, not done yet

[2015-12-19 08:25] richfitz commented on #8
Good point!  We should decide on if we're tackling streaming at all though (e.g. with jsonlite's streaming functions).

[2015-12-19 17:09] sckott opened #24 "DSL feedback"
Hi all, If you have a bit of extra time, can you test out the `jqr` high level DSL https://github.com/ropensci/jqr#high-level ? We'd like to make sure the DSL is sane before pushing 1st version to CRAN

@jennybc @karthik @cboettig @smbache @cpsievert

[2015-12-19 17:13] sckott commented on #8
I was thinking of streaming in jq dev version https://stedolan.github.io/jq/manual/#Streaming which isn't in 1.4 - which would make sense to include, right?  But yeah, `jsonlite` streaming probably means dropping what we were doing with `rivr` I think

[2015-12-19 17:27] smbache commented on #24
When do you plan on submission?

[2015-12-19 17:31] richfitz commented on #8
Ah, crap.  That's a bummer.  I think that getting 1.5 to work on windows will be nontrivial, but I can have another look some time.  Though if we come up with a good interface then it won't matter that much.

At the same time, I don't think that streaming is on most people's radar so I'm not sure people will see it as a killer feature.

[2015-12-19 17:51] sckott commented on #24
No date in mind, prob. not until early Jan

[2015-12-19 19:15] smbache commented on #24
@sckott roger!

[2015-12-19 19:36] jennybc commented on #24
I am assigning this to myself or else I will forget. I can't do it now.

[2015-12-20 19:42] #8 closed

[2016-01-07 05:24] sckott commented on #24
just a friendly reminder now that we're past the holidays

@jennybc @karthik @cboettig @smbache @cpsievert

thanks all!  setting milestone date for Feb 1

[2016-01-07 10:23] smbache commented on #24
Just a few thoughts, after some playing around (take it for what it is, I'm not too familiar with everything)

* Would it make sense to have `jq` generic (with `jq.jqr` and `jq.default`), rather than having `jq` and `jq_`?
* Should the result of `jq` and `jq_` both be `json`, rather than `json` and `character`, respectively?
* `json %>% dotstr("key[]")` is not what I would expect, and different fr

[2016-01-07 13:12] smbache commented on #24
@sckott I think you should change

[code]

to

[code]

(i.e. the `min` should be changed to `max`...)

in the `pipeline_info` (in `pipe_helpers.R`)

Which would fix the nested pipe issue I mentioned above. Not able to make PR just now..

[2016-01-07 19:27] smbache commented on #24
I fixed it and implemented some of the suggestions I made in this PR: https://github.com/ropensci/jqr/pull/25

[2016-01-07 19:33] sckott commented on #24
Thanks so much @smbache !  (was working on response...thanks for the PR too)

Probably yes. What do you think @richfitz  Looks like you changed in the PR - will check that out

Agree, that behavior is not ideal. Just so we're talking about the same thing, are you getting:

[code]

Thanks, changed in your PR

[2016-01-07 19:43] smbache commented on #24
Yes, same behavior: it was fetching the wrong pipe, in case of nested pipes. It makes sense, I was mentally reversing the order of `sys.frames()`. It's fixed in the PR.

The tests and examples seem to run with the new generic approach, so I think it's ok, but you should of course only use it you agree it's cleaner.

My initial comment in the PR (which I deleted) about SE, made no sense, I think. M

[2016-01-08 20:31] smbache opened #27 ""." filter and pretty printing."
From the manual:

"Since jq by default pretty-prints all output, this trivial program can be a useful way of formatting JSON output from, say, curl."

for input `{"foo":[{"bar":"baz"}]}` `jq`  with the basic `.` filter produces:

[code]

`jqr` produces:

[code]

Is this a deliberate choice? I can see the usefulness og the default "prettying"...

[2016-01-08 21:51] sckott commented on #27
Good point.  I don't think we've thought about this, at least I haven't.

I'll have a think about it. It does probably make sense to pretty print with newlines

[2016-01-09 05:40] smbache commented on #27
Mostly for consistency with the standard `jq` behavior. I think this is what people would expect as it's almost the first lesson in the docs for `jq` :)

[2016-01-09 16:36] sckott commented on #27
okay, pushed a change, should behave just like `jq` now, via `jqr::combine()`

[2016-01-10 18:38] sckott commented on #27
i think this is sorted now

[2016-01-10 18:38] #27 closed

[2016-01-10 18:57] smbache commented on #27
Yes! It's good!

[2016-01-10 20:57] #20 closed

[2016-01-11 07:22] smbache commented on #19
I think there is a pretty nice/seamless integration between low-level and dsl, with the new generic setup; thinking perhaps a single vignette will suffice?

[2016-01-11 16:35] sckott commented on #19
Yeah, you're probably right.

[2016-01-11 16:53] sckott commented on #18
do you think this should happen before cran push?

[2016-01-11 17:16] smbache opened #29 "Hex sticker?"
If so, let's see some ideas :)

[2016-01-11 17:48] sckott opened #30 "Allow users to specify jq options"
see the flags under https://stedolan.github.io/jq/manual/#Invokingjq section  - @richfitz do you know if this is possible?

Some of them I think only make sense on the command line outside of R, but I think some could be used, e.g., `--sort-keys`

[2016-01-11 18:07] karthik commented on #29
Lol!

[2016-01-11 18:13] smbache commented on #30
They could be any named arguments in the `...`.

[2016-01-11 18:39] sckott commented on #30
hadn't tried it yet, just tried now, nothing works yet, an eg?

[2016-01-11 18:40] smbache commented on #30
Why would it work yet? :)

[2016-01-11 18:42] sckott commented on #30
im confused

[2016-01-11 18:47] smbache commented on #30
Me too :)

My point was only the interface; that `...` in the `jq` call, can be named and unnamed. The unnamed are used for the query itself, and the named should be passed on as options,

e.g.

[code]

I guess the `=TRUE` part is a bit redundant here, alternatively something like
[code]

[2016-01-11 18:48] smbache commented on #30
I guess you need to actually allow for the flasgs to passed along to the actual `jq` call under the hood

[2016-01-11 19:09] smbache commented on #30
I can make the changes to the `jq` functions, provided you make it possible to pass them on.

[2016-01-11 19:24] sckott commented on #30
Was confused as I thought you were suggesting it should work now. But I figured it shouldn't.

Right, we need to allow flags to be used. I imagine there's a way to hook into options via the C API, any thoughts @richfitz

We could use a separate function like:

`json %>% jq(".key .subkey") %>% flags("--sort-keys")`

I don't think this needs to happen before cran push, but perhaps it does if it mean

[2016-01-11 19:32] smbache commented on #30
Right. I guess the dsl could use a `flags` function. The low-level `jq` call could pass it as a named argument. In both cases it wouldn't be a hassle to introduce later, as adding flags after `...` would not break anything (removing it again, would ;)).

So, e.g.

[code]

I think it might get messy if we need to have low-level `jq` fiddled into the auto-execute story.

[2016-01-11 19:52] sckott commented on #30
I vote for a separate function. Let's wait to see what rich says about hooking into the C API

[2016-01-11 20:04] smbache commented on #30
Will need a bit of adjustments, I think, not that's impossible; but we need to assess whether it's worth it.. also it's not *as* low-level-ish ;)

[2016-01-11 22:40] richfitz commented on #30
Sure, I'll have a look - perhaps this week.

Looks like sort-keys becomes the `SORTED_OUTPUT` option becomes `JV_PRINT_SORTED` and that's what we want to target.  The other options in there are `PRINT_PRETTY`, `PRINT_ASCII` and `PRINT_COLOUR` (woohoo English spelling).

`JV_PRINT_SORTED` is consumed by `jv_dump_term`, passed in by a `flags` argument, which is passed from `jv_dump_string` which we

[2016-01-11 22:49] richfitz commented on #30
(bear in mind though that the only connection between the command line interface and libjq is the implementation details in jq's main.c)

[2016-01-11 23:02] richfitz commented on #30
OK, so that's done at the low level:

[code]

in colour on mac terminal (not Rstudio until they get ANSI colouring).  I'm not sure how you want to mix that in with the DSL stuff; perhaps it goes in query_from_dots, perhaps it goes through things like do?  It's late here so I don't want to break it!

[2016-01-12 09:28] richfitz commented on #29
:+1:

[2016-01-12 13:14] smbache opened #31 "Pretty printing stops working"
I haven't identified why this happens, so a bit hard to reproduce. But it has happened a few times now, that pretty printing stops working, and "regular" printing becomes the default.

Anyone else experienced this?

Think it would be nice before CRAN to identify this.

[2016-01-12 15:06] sckott commented on #31
Agree we should sort this out before push

[2016-01-12 15:44] smbache commented on #31
My best guess is still that for some reason dispatch finds `jsonlite::print.json` rather than `jqr::print.json`.
In any case it may be inappropriate to have different behavior for same class name for so closely related things. Don't know if one can figure out what's really going on, when, and if there is a sensible "fix" or it would be better to use a different class name, or accept the `jsonlite`

[2016-01-12 15:54] sckott commented on #31
Changing class name seems worth trying if there's likely to be a conflict with `jsonlite:::print.json`

[2016-01-12 18:46] sckott commented on #30
Thanks @richfitz

[2016-01-15 04:45] sckott commented on #23
i think this is sorted...if not will reopen

[2016-01-15 04:45] #23 closed

[2016-01-15 05:07] sckott commented on #31
using class `jqson` instead of `json` - not sure if that will avoid the problems  you've found, hopefully

[2016-01-15 05:09] smbache commented on #31
Hehe thought of that same name, just not sure if it was too much :)
I'll try it out some and get back!!

[2016-01-15 05:56] sckott commented on #19
vignette updated, focused on both high and low level, though mostly DSL

[2016-01-15 06:05] smbache commented on #19
Will have a look

[2016-01-20 12:54] richfitz opened #32 "pretty masks base::pretty"
Giving the always tedious warning:

"The following object is masked from package:base"...

I'd rather not export a function that will clash with a base package -- can we rename?

[2016-01-20 14:48] sckott commented on #32
`prettify` is in 3 diff. pkgs so far. maybe `prettied`

[2016-01-20 14:49] richfitz commented on #32
`pretty_json`?, `jpretty`?

[2016-01-20 14:55] sckott commented on #32
oooh, i know: `prettiest`

[2016-01-20 15:00] richfitz commented on #32
Which means the person next in this situation can go for `no_really_mine_is_the_prettiest`

[2016-01-20 15:01] richfitz commented on #32
How about `superprettyfragilisticexpialidocious`?

[2016-01-20 15:04] smbache commented on #32
Is it needed now that pretty is default?

[2016-01-20 15:15] sckott commented on #32
`superprettyfragilisticexpialidocious` - yes! amazing

to be real for just a bit, looking at the fxn again, not sure we need it. Okay if we drop it? If users want to do pretty printing separately, better to use `jsonlite::prettify` anyway. That's what we use internally in `print.jqson()`

[2016-01-20 15:16] smbache commented on #32
Indeed

[2016-01-20 15:28] richfitz commented on #32
:+1:

![drop it](http://i.giphy.com/KQyKXywaKJD4Q.gif)

[2016-01-20 17:04] #32 closed

[2016-02-08 17:26] #24 closed

[2016-02-08 17:30] #31 closed

[2016-02-08 18:03] sckott opened #33 "Dont pipe"
Sometimes you don't want to pipe together jq commands. But right now, that's the only option when we `%>%` together commands, they get `|` together

Would be nice to have an easy way for user to say they don't want A an B separated by a pipe, but B and C they do, etc.

examples coming

[2016-02-08 19:24] sckott commented on #33
Don't think this needs to be dealt with before the CRAN push, examples seem to be working better than I remember. will drop examples in when I find them

[2016-02-08 19:30] sckott commented on #19
@richfitz @smbache Okay with the vignette?  If so, we're ready to go. Rich, you are listed as maintainer. can you submit? or we can switch maintainers and I submit

[2016-02-08 19:31] richfitz commented on #19
Switch maintainer perhaps?

[2016-02-08 20:29] sckott commented on #19
Okay, will do

[2016-02-08 20:58] smbache commented on #19
1) would it be useful with a short summary initially of jq is, for those unfamiliar? Just as to get an idea without having to visit the jq site?

2) no need for explicit name dropping ;-)

[2016-02-08 21:12] sckott commented on #19
More than this ? https://github.com/ropensci/jqr/blob/master/vignettes/jqr_vignette.Rmd#introduction-to-jqr

what do you mean?

[2016-02-08 21:19] smbache commented on #19
I guess it's fine, but I think that if you have no clue what it is, and want to know just a bit more than "json processor", you'll probably visit the jq page first... Which may be ok.

I mean the part where my name is explicitly "dropped" related to the pipe hack ;) now that I'm listed in the description that's more than enough, heh..

[2016-02-08 21:30] sckott commented on #19
Right, will add more jq info, And will remove name drop :)

[2016-02-08 21:36] smbache commented on #19
:)

[2016-02-08 22:05] sckott commented on #19
i'll close this unless any other thoughts...

[2016-02-08 22:41] sckott opened #35 "Windows check issues"
@richfitz potential issue with Windows

submitted to win-builder and the pkg does actually install on R 3.2.3 and devel, but both fail on check,

## R dev

### install

[code]

### check

[code]

## R 3.2.3

### install

[code]

### check

[code]

Installs with I think the same warnings as above on a windows VM locally, and functions all work fine.  Any ideas

[2016-02-09 07:44] smbache commented on #35
The problem went away on my local win by removing the `configure.win` file; sent it off to win-builder with `build_win`, but surely the result will be sent to @richfitz ;)

[2016-02-09 14:54] sckott commented on #35
Great, got win-build output from rich. Does pass check now, but does print out a bunch of C warning messages on installation. - Not familiar with how much CRAN folks care about those?

[2016-02-09 14:56] smbache commented on #35
They important warnings?

[2016-02-09 14:57] sckott commented on #35
http://win-builder.r-project.org/sawcwmEdN1vT/00install.out

[2016-02-09 15:05] richfitz commented on #35
The warnings look harmless, and they're coming from libjq itself.

[code]

CRAN might get still grumpy about that, not sure.

The configure/configure.win thing could possibly be dropped in favour of just dumping all the library source into src/ or with the standard Makevars tweak for compiling the library in src/jq and linking it in.  If it causes any trouble at CRAN I'm happy to do that.

[2016-02-09 15:18] sckott commented on #35
okay, cool, submitting soon

[2016-02-09 15:18] #19 closed

[2016-02-09 15:24] smbache commented on #35
Perhaps mentioning that the warnings have been assessed in CRAN-comments will mitigate possible back-and-forth grumpiness?

[2016-02-09 15:25] richfitz opened #36 "Trailing newline needed, at least on Linux"
In the print method I don't get the right number of newlines.

[code]

If this applies across platforms (don't have time check RN), the fix would be

[code]

The last cat call needs a "\n"; so becomes `cat(sprintf("query: %s\n", x))` (note as it is it also adds an extra space too because cat does that.

[2016-02-09 15:30] sckott commented on #36
nice catch. - though I like the indentation if that's okay

[code]

on cli with change (my prompts are `<r>`)

[code]

[2016-02-09 15:31] sckott commented on #35
Ah, good idea!

[2016-02-09 15:42] richfitz commented on #36
The indentation is great - removing that was accidental.

[2016-02-09 17:12] #36 closed

[2016-02-09 17:42] sckott commented on #35
@smbache You said you removed the `configure.win` file?  I did that, sent to winbuilder again, and now it doesn't install and of course doesn't pass check.

[2016-02-09 17:48] smbache commented on #35
Yeah it was all I did on my machine and sent to win builder? But didn't change anything in the repo (can't either).

[2016-02-09 17:49] sckott commented on #35
weird, any thoughts @richfitz  - I don't think I've changed anything else that would affect installation

[2016-02-09 17:52] smbache commented on #35
The reasoning behind me moving it was:

The install message said that due to the presence of configure.win it would only install for the main arch, the subsequently the check, which also checks the 32bit arch failed because it wasn't installed. I'm not sure how to get around it. Tried to see how important the file was in practice.

[2016-02-09 17:55] smbache commented on #35
Now that I think of it: only sent to win builder release, not devel

[2016-02-09 17:56] sckott commented on #35
It fails to install on both for me

[2016-02-09 18:00] smbache commented on #35
Hmm that's weird :(

[2016-02-09 18:04] sckott commented on #35
Same on my windows VM, doesn't install without configure.win, and does install if its there, but does throw that warning _building only the main architecture_

[2016-02-09 18:15] sckott commented on #35
@smbache can you share the exact version of `jqr` you submitted to win-builder? i can diff and see if there's something i'm missing

[2016-02-09 18:16] smbache commented on #35
Sure - itll be 15-20 minutes until I'm at my computer.

[2016-02-09 18:27] sckott commented on #35
thx!

[2016-02-09 18:41] smbache commented on #35
Sorry about the mess I'm about to paste here :)

I pushed it as submitted here: https://github.com/smbache/jqr/commit/340da3d8694a8f22d6bbfb0f1308f95d496b7174

Some warnings I get on my local check, also found in the full output below:
[code]

Here is my full *local* check output (Rtools version 3.3.0.1958), and below that my session info:

[code]

Here's my session info:

[code]

[2016-02-09 19:03] richfitz commented on #35
I will try some Makevars tricks to get rid of the configure scripts

[2016-02-09 19:06] sckott commented on #35
yay, thanks

[2016-02-09 19:52] richfitz opened #37 "Eliminate additional compiler warnings"
[code]

[code]

[code]

[code]

[2016-02-09 19:59] richfitz commented on #35
OK, bb5cdf2 should help here

[2016-02-09 20:11] sckott commented on #35
nice, hmm, on check

[code]

maybe they need to be cleaned up?

[2016-02-09 20:35] richfitz commented on #35
Thanks - I'll put them in buildignore.

[2016-02-09 20:45] richfitz opened #38 "is needs importing from methods or replacing with inherits"
On appveyor

[code]

I don't see this locally so it's either an R version change or a check switch.  Given methods seems to mostly exist to troll package developers, can we switch these over to inherits?

[2016-02-09 20:47] smbache commented on #38
I actually thought about that earlier, when writing `flags`, but used `is` to be consistent with the rest... Fine with me!

[2016-02-09 20:49] sckott commented on #38
Ah, thought you were referring to `DESCRIPTION` file, yeah, use `inherits()` is fine, will do

[2016-02-09 22:31] #38 closed

[2016-02-10 15:51] sckott commented on #37
@richfitz since you attached the cran release milestone, I assume you think it should be dealt with before pushing, right?

[2016-02-10 16:02] richfitz commented on #37
Yeah, if you don't mind.  Or you could take a stab at submitting it and see what they say.  But I think CRAN tends to be pretty picky with packages that contain compiled code.

[2016-02-10 17:13] sckott commented on #37
nah, let's get it done first

[2016-03-12 09:27] smbache commented on #37
any news with this?

[2016-03-12 17:14] sckott commented on #37
tried seeing how to sort out the unused fxn warnings, not sure how best to do it, if someone could point me in the right direction...

[2016-03-15 11:51] jeroenooms commented on #37
This warning is usually harmless, I don't think it shows up in `CMD check`. But you might be able to suppress it with:

[code]

[2016-03-15 11:56] richfitz commented on #37
Sorry, I'll have a look at this soon, Scott.

I would have thought that the `-Wno*` flags would raise ire on CRAN for lack of portability?  I'd still like to remove the unused functions though.

[2016-03-15 12:09] jeroenooms commented on #37
Unused variables or functions often appear only on certain platforms, usually because they are inside a platform specific `#ifdef` block. Therefore CRAN usually ignores them I think.

[2016-03-21 14:30] richfitz commented on #37
Let's just see what happens on CRAN.

[2016-03-21 14:30] #37 closed

[2016-03-21 14:31] richfitz commented on #35
Scott - new versions are building now - can you add the logs here when you get them?

[2016-03-21 14:33] sckott commented on #35
of?

[2016-03-21 14:34] richfitz commented on #35
Of jqr, using the changes from Jeroen in #39.  This issue is the last one on the CRAN milestone.

[2016-03-21 14:39] sckott commented on #35
## 3.2.4

__install__

[code]

__check__

no notes or warnings

## dev (3.3)

__install__

[code]

__check__

coming

[2016-03-21 15:26] sckott commented on #35
So it installs on windows now, but we still got unused function warnings

[2016-03-21 15:43] sckott commented on #35
running on appveyor now https://ci.appveyor.com/project/sckott/jqr

[2016-03-21 15:51] richfitz commented on #35
Thanks Scott!

[2016-03-21 15:58] sckott commented on #35
failed first, guessing problem with dev R, trying R stable now

[2016-03-21 16:13] sckott commented on #35
building good on windows now

[2016-03-21 16:59] sckott commented on #35
Should we submit despite the unused fxn warnings?

[2016-03-21 17:02] richfitz commented on #35
Yeah, give it a shot based on what Jeroen says in #37, if your flame proof suit can handle it.

[2016-03-21 17:06] sckott commented on #35
okay

[2016-03-21 17:06] #35 closed

[2016-03-21 22:31] sckott opened #41 "cran copyrights / license fix"
not declared in the Authors@R fiel. Example: file src/parser.c (GPL,
copyright holder is the FSF).

holders are mentioned.

We do have a  `COPYING.jq` file and an `AUTHORS.jq` file.

* authors: should we do what's done in git2r https://github.com/ropensci/git2r/blob/master/DESCRIPTION#L13
* copyright: likewise for copyrights? https://github.com/ropensci/git2r/blob/master/DESCRIPTION#L9
* license:

[2016-03-21 22:43] richfitz commented on #41
From that parser file:

[code]

Not sure what the right move is here, and heading to bed...

[2016-03-21 22:59] sckott commented on #41
thanks

[2016-03-22 21:08] sckott commented on #41
thoughts @cboettig @jeroenooms  never had to deal with copyright/license stuff, what's the right way to handle this, should we follow what's been done with `git2r` and points to copyright and authors files in `inst/`

Not sure what license to use either

[2016-03-22 22:46] cboettig commented on #41
@jeroenooms would know best, but here's my take:  I guess they are suggesting that the authors of the included code be added as contributors `[ctb]` in the DESCRIPTION with a comment explaining their role (see https://github.com/rstudio/rmarkdown/blob/master/DESCRIPTION), and the DESCRIPTION should declare a compatible license.  For instance, `rmarkdown` declares GPL-3 as the overall package licen

[2016-03-22 23:04] sckott commented on #41
this is what J said in slack

[2016-03-22 23:19] sckott commented on #41
thanks @cboettig

[2016-03-23 21:15] sckott commented on #41
@cboettig hmm, I think we can do MIT b/c `jq` uses MIT, and they include bison in the code base, see the special exception above listed by rich.  So I think we can do MIT as well

[2016-03-23 21:45] #41 closed

[2016-03-26 14:13] sckott opened #42 "cran check issues"
got email from cran

https://cran.r-project.org/web/checks/check_results_jqr.html

The only platforms with errors are Solaris sparc https://www.r-project.org/nosvn/R.check/r-patched-solaris-sparc/jqr-00check.html and Solaris x86 https://www.r-project.org/nosvn/R.check/r-patched-solaris-x86/jqr-00check.html

A few other platforms having warnings, which are all

[code]

[2016-03-26 14:55] richfitz commented on #42
These are super annoying to deal with, given they're in jq code, some of which is the autogenerated parser.

On OSX with clang and `-pedantic` I see

[code]

[2016-03-26 15:31] sckott commented on #42
meaning that we'd have to fix jq code itself?

[2016-03-26 15:50] richfitz commented on #42
Yeah. This isn't code we wrote.  The issue is that because we link the library in directly we're subject to all the cran checks.  But jq is so weird that we really can't list it as a SystemDependency because nobody will have it! (I don't think it even installs as a library by default).

[2016-03-28 16:32] sckott commented on #42
@jeroenooms any idea about the Solaris errors?  never used Solaris myself

I'm not sure what the way forward is here. Should we ask CRAN folks if they can forget about these warnings b/c it's in `jq` code and we don't have control over that?

I imagine Ripley won't let the Solaris errors slide?

[2016-03-28 16:57] jeroenooms commented on #42
Best approach would be to try and get the `jq` errors fixed upstream. Which version of `jq` are you bundling?

[2016-03-28 16:59] sckott commented on #42
we're using `v1.4` of jq

[2016-03-28 17:00] sckott commented on #42
so fixed in `jq`? hmm, i guess it could take a while, hopefully ripley doesn't make us take it off CRAN in meantime

[2016-03-28 17:05] jeroenooms commented on #42
Looks like the problem in `execute.c` has been fixed in the latest version of jq:  https://github.com/stedolan/jq/blob/master/src/execute.c#L67

[2016-03-28 17:09] jeroenooms commented on #42
Why are you not including jq 1.5?

[2016-03-28 17:10] sckott commented on #42
@richfitz i thought for some reason 1.5 wasn't working, correct?

[2016-03-28 17:17] richfitz commented on #42
Yeah, I think I couldn't get it to compile with gcc on windows, from memory.

[2016-03-28 20:58] sckott commented on #42
hmm, this might take a while. I'll ask for more time

[2016-03-28 21:19] jeroenooms commented on #42
Actually `jq` is in debian and fedora and homebrew now, so could link to that instead of bundling it....

[2016-03-28 21:47] sckott commented on #42
I guess that would take a re-write - would linking to jq instead still work on windows?

[2016-03-28 22:02] richfitz commented on #42
So long as we can build a windows version of the library via Jeroen's stash of those that should work. That could give us 1.5 which would be nice, too.

[2016-03-28 22:13] jeroenooms commented on #42
Sure I'll send a PR to review. Do you guys want to build with oniguruma support or are you not using that?

[2016-03-28 22:57] sckott commented on #42
awesome, thanks

[2016-03-28 23:06] jeroenooms commented on #42
Ugh it looks like Debian/Ubuntu only provides the `jq` command line but not the `libjq` headers and library :-( So this might not work ...

[2016-03-29 17:24] jeroenooms commented on #42
I'm talking to the maintainer of `jq` in Debian now to see if we can get it in there ...

[2016-03-29 20:39] jeroenooms commented on #42
OK the Debian maintainer is going to look at it. Might take a few days. Once things are in Debian we can remove `jq` from `jqr` and never have to worry about it again.

[2016-03-29 21:06] sckott commented on #42
great, Kurt said okay to me asking for more time...

[2016-04-20 19:01] sckott commented on #42
@jeroenooms Kurt is getting impatient, and wants us to fix the compilation warnings like

[code]

and submit a new versions. Can we do that somewhat easily?

[2016-04-21 06:01] jeroenooms commented on #42
Sure we can workaround these things until `libjq` becomes available.

[2016-04-21 14:49] richfitz commented on #42
With #45 merged, this should probably be good to go, Scott.

[2016-04-21 17:05] sckott commented on #42
thanks all, will submit patch version

[2016-04-21 18:00] sckott commented on #42
submitted

[2016-04-21 18:11] richfitz commented on #42
Brilliant, thanks Scott

[2016-04-22 14:32] sckott commented on #42
Kurt rejected, said he still gets

[code]

Said

[code]

any ideas?

[2016-04-22 18:25] sckott commented on #42
i tried these flags but couldn't get these warnings to show. I do have a different gcc version though

@jeroenooms

[2016-04-22 19:53] jeroenooms commented on #42
I can't reproduce this either. It's really strange, those errors seem very unlikely on new package. It almost looks as if he was checking the wrong file or so. I'll have another look later...

[2016-04-22 20:11] sckott commented on #42
thanks!

[2016-05-03 15:12] jeroenooms commented on #42
I don't understand how this happened, but the new 0.2.2 version on cran does **not** include the fixes that are on master. Note that master on line execute.c:55 has:

[code]

However the 0.2.2 version on CRAN still has the old version with the bug:

[code]

I suspect this line in your `.gitignore` might prevent you from pulling in the fixed sources:

[code]

Not sure what that line is doing there.

[2016-05-03 15:35] sckott commented on #42
Looks like that line in gitignore was added here https://github.com/ropensci/jqr/commit/4c178f679caa538b70f2ce5805858e8e8b893136

[2016-05-03 15:46] sckott commented on #42
I removed the `src/*.c` line and applied the backport fixes to `*.c` files

[2016-05-03 15:46] sckott commented on #42
ripley emailed

[code]

[2016-05-11 08:26] richfitz opened #48 "Jeroen is not listed in DESCRIPTION"

[2016-05-11 14:13] sckott commented on #48
that's dumb, adding @jeroenooms

[2016-05-11 14:22] #48 closed

[2016-05-23 18:37] #42 closed

[2016-07-27 12:49] jeroenooms opened #49 "Prepare bugfix release"
I fixed [the problem](https://github.com/ropensci/jqr/commit/01a6dce2e3f04dc1fea61730cc79ab77ece76035) which caused the crashes under ASAN/valgrind on CRAN.

[2016-07-27 15:20] sckott commented on #49
nice, I assume #43 isn't ready yet?  if so, we can include both issues

[2016-07-27 15:22] jeroenooms commented on #49
I don't think so, haven't heard back from @else. Let's do a bugfix release with this fix, that will make cran happier.

[2016-07-27 15:30] sckott commented on #49
okay, sounds good

[2016-07-27 15:31] sckott commented on #49
assigned milestone `v0.2.4` - anything else to include?

[2016-07-27 15:32] jeroenooms commented on #49
No just this patch.

[2016-07-28 07:49] jeroenooms opened #50 "docker / memory leaks"
I added a docker script to test for memory leaks. However I don't have sufficient permission in the repo to install the hook that triggers a build on commits.

[2016-07-28 08:15] richfitz commented on #50
Try now - I've bumped you up to admin

[2016-07-29 14:32] #49 closed

[2016-07-29 14:34] jeroenooms commented on #50
OK we can now see memory leak summaries by looking at [dockerhub build logs](https://hub.docker.com/r/jeroenooms/jqr/builds/). Maybe I'll try to fix some of those for a future version.

[2016-12-21 15:59] noamross opened #51 "Read from connection"
It would be nice to be able to run a jq pipe from a connection (such as a URL, file or fifo), so that one can avoid loading all the JSON into memory.

I note that jq 1.5 has [additional streaming options](https://stedolan.github.io/jq/manual/v1.5/#Streaming), including allows for to output in ndjson format, which means that one would be able to run JQ on large JSON, and pipe it to `jsonlite::strea

[2016-12-21 17:12] sckott commented on #51
Not sure what status is with jq 1.5 - is it easy enough to upgrade to that @jeroenooms ? I remember something about it being problematic

Seems like `stream_in` always returns a data.frame though, yes?

[2016-12-22 13:47] jeroenooms commented on #51
I have updated master to jq-1.5... not sure yet how we would go about implementing a connection filter.

[2016-12-22 17:12] sckott commented on #51
@noamross is your JSON simple enough where you could do something like

[code]

[2016-12-22 18:00] jeroenooms commented on #51
@sckott I think his problem is that `x` is too large to hold in memory...

[2016-12-22 18:04] sckott commented on #51
yeah

[2016-12-23 04:15] noamross commented on #51
Thanks. Yes, the problem is the JSON is biggish (~1GB), and the goal of the
package is to get data into the hands of people who may not have the best
computers with much memory. But ATM I'm having some success getting our
data providers to switch to ndjson, so no urgency - gonna stream in the
data, reduce and store locally.

On Thu, Dec 22, 2016, 1:04 PM Scott Chamberlain <notifications@github.com

[2016-12-28 19:12] jeroenooms commented on #51
It would be nice to see if this can be generalized to streaming data, but that will probably require rewriting some of the internals. Not sure how @richfitz feels about that.

[2016-12-28 19:40] richfitz commented on #51
I have zero objections, but am on holiday through mid January. Feel free to try whatever; I think the c++ bits are pretty simple/minimal at present

[2016-12-28 19:44] jeroenooms commented on #51
OK I'll mess around and we can discuss it IRL next month when we're both super jetlagged.

[2017-02-03 23:05] jeroen opened #53 "Multiple JSON"
Support multiple JSON objects for streaming? Currently we only take the last one.

[code]

[2017-02-04 02:49] sckott opened #54 "make fxn for getting jq version"

[2017-04-24 21:05] sckott commented on #18
@richfitz can i close this?

[2017-04-24 21:09] richfitz commented on #18
sure

[2017-04-24 21:09] #18 closed

[2017-08-10 21:31] cboettig commented on #51
👍 for the ability for `jqr` to operate on an external file without having to load the whole thing into memory.

From a purely user-interface / convenience though, it would be nice for `jq` function to be able to take a file path or URL as an argument, just so that the interface is consistent with the interface of things like `fromJSON`, `jsonld_*` fns, etc.

[2017-08-10 21:35] sckott commented on #51
thanks @cboettig

we are on jq 1.5 now

[code]

so can start to play with its streaming ability and see if that helps.

----

@cboettig can you open a different issue for the comment about user interface stuff?

[2017-08-10 22:17] cboettig opened #55 "jq should be able to take file paths or a URL as an argument"
From a purely user-interface / convenience perspective, it would be nice for jq function to be able to take a file path or URL as an argument, just so that the interface is consistent with the interface of things like fromJSON, jsonld_* fns, etc.

[2017-08-10 22:50] cboettig opened #56 "jq return type"
It looks like the return type of a `jq` query is a `jqson` object, which is essentially a string.

I think it would be way more useful for `jq` to return a proper JSON object (or list from parsing the JSON, but better to leave the user in control of the `simplify* options of `fromJSON`).

Under the current interface, it looks like one has to convert the string to a `textConnection` and then parse

[2017-08-11 22:39] sckott commented on #54
this is done `jqr::jq_version()`

[2017-08-11 22:39] #54 closed

[2017-08-11 22:57] sckott commented on #30
@richfitz Any thoughts on how to update flags methods to implement the remainder of the jq flags?  I'm not quite sure from looking at main.c how to do the remainder of the flags, main.c has https://github.com/ropensci/jqr/blob/master/src/jq/main.c#L111-L127 but those are a subset of all the flags. maybe some flags we can't use in R

[2017-08-11 23:12] sckott commented on #51
@jeroen any thoughts on this? not sure how to add option to have a file or URL connection - right now jqr is set up to only allow character input -

it doesn’t  make sense to e.g, read in json from a file on the R side - but rather have jq do that. Seems like it can with `-f` flag, but we don't have that flag implemented

[2017-08-11 23:30] sckott commented on #56
Thanks @cboettig

This is a tough one. There's many times the end of a `jq` query is not proper JSON - and it would take some work to make the output back into proper JSON.

Is there some confusion with the text connection, since `jsonlite::stream_in` requires a connection object?  that is, you can't pass in a string to it.

-----

Not sure this really helps a ton, but we do have a fxn in `jqr` ca

[2017-08-11 23:33] sckott commented on #55
thanks @cboettig

agree this would be good - will look into it

[2017-08-14 08:25] richfitz commented on #30
Those flags are used only within `src/jq/main.c` and are not part of the libjq interface I think. We don't compile anything from that file into the library

[2017-08-14 17:29] sckott commented on #30
Ah - how were you able to do the 4 flags you implemented then?

[2017-08-14 19:06] cboettig commented on #56
Thanks @sckott, can you give some examples where it's not proper `json` (i.e. not proper json fragments that we can handle with `stream_in`?  Is the return type of a `jq` query documented anywhere?

I'd be happy with generic named list format (e.g. what you get from parsing json anyway), it just makes sense to have a structured, sub-settable object instead of a raw string.

[2017-08-14 19:23] richfitz commented on #30
Those are (I think) just flags to `jv_dump_string`, coming through here: https://github.com/ropensci/jqr/blob/e92060a6729fb44a5d9624a253811237bb2c234d/src/jq/jv.h#L188-L199

[2017-08-14 20:50] sckott commented on #30
thanks , hmm, doesn't seem like all the flags in the docs are in that file

[2017-08-14 23:27] sckott commented on #56
I don't think I want to convert to a list. Rather leave that to the user here.

I guess you're right that seems like most if not all outputs can be handled by `jsonlite::stream_in`.

So perhaps there's two approaches:

- if a single JSON object comes out, can use `jsonlite::fromJSON` to convert to list/data.frame
- if > 1 JSON object, can:
    - use `jqr::combine` to try to combine them, then use

[2017-08-14 23:35] cboettig commented on #56
So it sounds like the result is always 1 or more JSON objects.  I do think it is a bit confusing to call that a `jqson` object class, with a print method that makes it look like a single json object, e.g. it adds the `[]` bounding brackets and the commas in the print method that aren't actually there in the return object:

[code]

in the above example prints:

[code]

which is valid JSON, and tric

[2017-08-15 17:59] sckott commented on #56
@cboettig can you install `devtools::install_github("ropensci/jqr@return-type")`

and try it again - see readme https://github.com/ropensci/jqr/tree/return-type#return-valid-json-or-not

thoughts @jeroen @richfitz on changing the format of output?

note:

- [ ] if we go this route need to fix: `jsonify` param for some reason not accessible when using high level interface, whether piping or not

[2017-08-15 19:04] cboettig commented on #56
This looks great!  Having a valid json object returned makes the interface really nice.

What's the use case for `jsonify=FALSE`?  It seems like in that case it would make sense to return an array of strings, (character vector) so that one can iterate on it with typical R functions.

I'm confused why one needs variable assignment first in the pipes examples, I guess that forces jq to evaluate?  Co

[2017-08-15 19:16] richfitz commented on #30
I think different entry points in jq have different sets of flags.  Or I'm confused about what part of the docs you are seeing different sets of flags, perhaps

[2017-08-15 19:24] sckott commented on #30
the flags listed here https://stedolan.github.io/jq/manual/#Invokingjq

[2017-08-15 19:30] richfitz commented on #30
yeah, I think that those are all doing things in `src/jq/main.c` and not part of the library; we'd have to reimplement that in a library style to do that in the package

[2017-08-15 19:37] sckott commented on #30
okay, blegh

[2017-08-15 19:41] sckott commented on #56
That's what `jq` actually returns, and undoubtedly i'm sure some users will want want `jq` actually returns. in addition, some users may want separate chunks

because we have a nice hack that Stefan made for us via magrittr that allows us to pipe together the high level commands and then it by itself automatigically executes the actual `jq` command when no more pipe operations are detected. we can

[2017-08-15 20:37] cboettig commented on #56
right, good point that we should be consistent about the original `jq` behavior.  I finally read the docs:

[code]

So I should probably have just been constructing my queries that way to begin with and I would have gotten a single json argument.  Maybe it is better to document this (e.g. using `[.[]]` instead of `.[]` etc) rather than introduce the toggle behavior?

I see that as a command line t

[2017-09-13 15:43] sckott opened #57 "register routines"
jeroen did in 7d635229397ea159dc3cc99cb3bd50be61de1e59

[2017-09-13 15:43] #57 closed

[2017-09-14 18:07] sckott opened #58 "warning with r-devel"
@jeroen was about to submit to CRAN - but this warning arises with R-devel on winbuilder and I imagine they'd reject it until fixed

[code]

any ideas how to fix?

[2017-09-17 22:03] sckott commented on #58
thanks

[2017-09-17 22:06] jeroen commented on #58
I noticed debian finally has jq, so we could choose to unbundle libjq alltogether.

[2017-09-17 22:10] sckott commented on #58
nice, you already have a PR at https://github.com/ropensci/jqr/pull/43 for this

[2017-09-17 22:12] jeroen commented on #58
Right, so we just need to decide if we want to do this. It will make maintenance much easier. But people will need to `brew install jq` if they want to build from source.

[2017-09-17 22:23] sckott commented on #58
hmmm, the way you set it up, it does give an error message saying to brew install though, yes?

[2017-09-19 13:07] aradev commented on #15
@richfitz, any chance to release binaries with 1.5?

[2017-09-19 17:27] sckott commented on #56
thanks for feedback @cboettig - we're pushing a major version to cran now with jq unbundled (links to version on users machine) - so will come back to this for v1.1 or so

[2017-09-19 17:55] sckott commented on #58
seems good now, closing

[2017-09-19 17:55] #58 closed

[2017-09-19 18:17] sckott opened #60 "fxn for high level DSL: put jq program inside of []"
for a single JSON output, like `[program]` instead of `program`

[2017-09-19 19:53] #53 closed

[2017-10-06 21:46] lentils opened #61 "MacOS: No way to use PKG_LIBS_STATIC defined in configure script"
Hello,

I'm trying to build a statically linked version of jqr for MacOS (like what's built on CRAN) and I'm running into an issue with `configure` and `PKG_LIBS` used in compilation.

First I `brew install jq`, which installs `oniguruma` as a dependency. Then I run:

`R --vanilla CMD install jqr_1.0.0.tar.gz -l /Users/jenkins/test-r-pkg-build --build --preclean`

For dynamic linking (ie using `.d

[2017-10-07 11:21] jeroen commented on #61
What is it you are trying to do? Why not just use the binary package from CRAN?

[2017-10-09 17:59] lentils commented on #61
Hi jeroen,

Good question. The goal is to build R packages that are as portable as possible, hence the statically compiled package. At my organization, we host everything internally to avoid unexpected outages by CRAN mirrors. We also write our own R packages for internal use only, so they must be built and hosted outside of CRAN. We use the same process for building both CRAN packages and our own

[2017-12-07 18:31] sckott commented on #61
@lentils is this still an issue for you?

[2017-12-11 18:05] lentils commented on #61
Hi @sckott,

Thanks for checking in. As far as I can tell, the original problem of not being able to build with `-ljq -lonig` remains. Like I said, it's defined in `configure` as `PKG_LIBS_STATIC` but I can't figure out how to get R to build jqr using that variable without modifying the source directly. Maybe I'm misunderstanding how to configure R's build process properly.

That said, this not as

[2017-12-12 20:54] sckott commented on #61
thanks @lentils - @jeroen can you chime in here. i'm not quite sure how to help on this

[2017-12-15 20:24] cboettig opened #62 "jq() should be able to take `json` as an input type?"
If you have a `json` object (i.e. from `jsonlite::toJSON`) you currently have to coerce it to a string with `as.character` before you can call `jqr::jq` on it.  Seems like `jqr` should be able to work with `json` class objects directly (i.e. do that coercion to string internally, which I think is just hacking off the class since it's really already a string)

[2017-12-15 20:32] sckott commented on #62
true, good point.

[2017-12-15 20:38] #62 closed

[2018-01-31 06:26] dlebauer commented on #51
I've got the same problem https://stackoverflow.com/q/48509869/199217

(Ultimately solved by converting to netcdf but now have to go back to the source for QAQC)

[2018-01-31 17:59] sckott commented on #51
thanks for the bump @dlebauer

still hoping to get this sorted out soon, seems like a pretty big use case

[2018-02-01 19:48] jeroen commented on #61
Maybe you can try passing them via LIB_DIR?

[code]

[2018-02-01 19:58] sckott commented on #61
ping @lentils a suggestion from jeroen above

[2018-03-01 07:06] sckott commented on #55
@cboettig  playing around on `remotes::install_github("ropensci/jqr@input")` - can you try now with file paths and urls? see, e.g, https://github.com/ropensci/jqr/blob/input/R/jqr.R#L30-L37

[2018-03-02 18:03] sckott opened #63 "Ease transition between jqr and other json tools"
from @cboettig feedback

possibly could add a global setting to change output, but would have to not break anything

[2018-03-02 18:06] sckott opened #64 "lq: list query"
idea from @cboettig

AFAICT idea is just to make it easy to do the stuff we can do with jq on JSON but with R lists.

is that as easy as `jsonlite::toJSON`, then apply any jq commands?

[2018-03-02 19:24] cboettig commented on #64
yes (and ending with a `fromJSON` so the user only deals with lists.)  Would be good to expose the `fromJSON` arguments regarding return type, which provide some great options for optionally simplifying automatically (e.g. returning a data.frame if appropriate).

But I think the real win here would come from honing the DSL in `jqr` a bit further.

- `index`, `sort` and `reverse` are great examples

[2018-03-03 16:46] sckott commented on #64
Noted on `fromJSON` at the end

can you clarify what you mean by this?

Right, an even higher level DSL on top of the DSL might be needed to achieve what you're thinking about.

[2018-03-03 18:03] cboettig commented on #64
Clarifying comment about `select` multiples, I haven't really thought this through.  I found this a bit unintuitive:

[code]

but then I realized that

[code]

does what I want, when I was thinking it would throw an error if `titles` was a multiple.

I really like how your DSL works so far; it's definitely inspired me.  I think so many of these operations would be super useful for lists in general

[2018-03-06 00:40] sckott commented on #64
thanks for clarification. this is the first thing came up with using the DSL, but it looks about the same as using the low level interface:

[code]

[code]

[2018-03-06 01:13] sckott opened #65 "DSL `select` doesn't handle operators other than assignment `=`"
e.g.,

[code]

so we're clearly not treating the `==` as we should - see logic in `do()` method

[2018-03-06 06:50] sckott commented on #64
thinking about this some more:

working with list inputs and lowl level interface

[code]

[code]

[2018-03-06 06:51] sckott opened #66 "Make fxns for array and object construction"
i don't know what i was thinking with `select()` - somehow I made it for constructing objects `{}` - so changing `select()` to do what its supposed to do (filtering), and new functions for array and object construction

[2018-03-06 06:51] sckott commented on #64
see also #65 and #66

[2018-03-06 18:20] sckott commented on #64
@cboettig if you get a chance try out work on branch https://github.com/ropensci/jqr/tree/select-and-objects - `select()` was wrongly doing object construction (in jq as `{}`) - so added two new function `build_object` (equivalent to jq `{}`) and `build_array` (equivalent to jq `[]`) - and changed `select()` to do filtering, matching what jq select does - anyway, so in the above examples with `sel

[2018-03-07 04:27] cboettig commented on #64
Nice! yeah, the lack of an explicit `build_object` function and doing that inside `select` confused me, so really nice to see the new `build_object` and `build_array`.  (though while these are good names for the `jq` DSL, an `lq` aliases `build_list` and `build_vector` might be more familiar to R users).

[2018-03-07 18:36] sckott commented on #64
good point about function names.

[2018-03-07 18:36] sckott commented on #64
@cboettig Are you thinking separate pkg for `lq` to play more freely?

[2018-03-07 22:18] cboettig commented on #64
Re separate package: I hadn't thought about that but could be a good idea -- would certainly make it more visible for users who want to query lists but don't care about JSON.  Like you say, it would also give us more room to play without messing with things for `jqr` users.  👍

[2018-03-07 22:20] jeroen commented on #51
I just pushed this to master.

[2018-03-07 22:21] jeroen commented on #55
Ah sorry @sckott I didn't realize you were also working on this. I just pushed streaming support to master.

[2018-03-07 22:22] sckott commented on #55
@jeroen no worries, my attempt was just trying to handle files and urls, i'm sure what you did is better

[2018-03-07 22:24] jeroen commented on #55
Yes I rewrote the internals on my flight to YVR. You can now do incremental parsing. See `?jqr_new.

[2018-03-07 23:39] sckott commented on #64
Okay, fire away at https://github.com/ropensci/lq

[2018-03-08 20:00] noamross commented on #51
Thank you! It took me a bit to figure out how to use this, but here's what I did:

[code]

The output worked as expected, but my R memory usage still spiked (the big remote JSON I tried is ~600MB, and RAM usage spike by ~2GB).  I'm not sure if I'm doing something wrong here.  I did try putting a `gc()` call into the callback function.  That doesn't seem to be doing the trick (and makes it very slo

[2018-03-08 20:06] jeroen commented on #51
I'm sorry for the lack of explanation :-) You should use `base::url()` or `curl::curl()` and use that as you would with regular data. Here is an example:

[code]

This will buffer the jq output in memory. If your data is really big you may want to write it to disk first:

[code]

[2018-03-08 20:47] noamross commented on #51
Thanks, that is much easier!  The memory usage still seems to spike to >2X the size of the whole file, though, when I'm using `out = file("output.json")`.  One thing I note is that as the memory usage grows, output isn't streaming to the file.  Everything is written to the file at once after memory has reached is peak and is dropping.

[2018-03-08 20:49] jeroen commented on #51
Hmmm are you using a jq command that operates on all data at once (such as min/max)? Try setting `out = stdout()` to see when output gets generated.

[2018-03-08 21:23] dlebauer commented on #51
@jeroen I'm not familiar with the query syntax - I've been trying to follow https://stedolan.github.io/jq/tutorial/ and am using this file: https://www.dropbox.com/s/qzzn13e77bz5k8y/2018-01-05_16-40-48_environmentlogger.json?dl=0 from which I want to extract, say, every 20th element named 'spectrum'.

But when I try this I get errors, and the errors can be reproduced in this MWE:

[code]

(I would

[2018-03-08 22:16] dlebauer commented on #51
Thanks - that worked. Though the performance seems much slower than `jsonlite::fromJSON()`

[code]

Queries like `jq(file(metfile), ".spectrum[1]")` (is that the correct way to get the first element named 'spectrum'?) take even longer.

[2018-03-08 22:20] jeroen commented on #51
What is metfile? jq works on ndjson data, whereas fromJSON is for large json blobs, so they do completely different things.

[2018-03-08 22:51] dlebauer commented on #51
@jeroen sorry the metfile is the sample from a previous comment ... here is the broken query with the missing download step required to generate the metfile

[code]

[2018-03-08 22:53] dlebauer commented on #51
but ... now I see that this is not ndjson, which is the source of my confusion. Sorry!

[2018-03-09 03:31] noamross commented on #51
I'm using `'.map()'`, but I realized in your comment above that jq is expecting ndjson, while I'm passing a large array.  In the command line, I use `--stream` to convert the single large array to ndjson before using a filter, like so:

[code]

I'm not sure if using the connection in your case supposed to be equivalent to this.  If I use 'fromstream(1|truncate_stream(inputs)) | .mpg' in `jq()` in

[2018-03-09 03:50] jeroen commented on #51
Interesting, let's see if I can pass that flags somewhere. One sec.

[2018-03-09 04:02] jeroen commented on #51
I added a `stream` parameter to `jq_flags()`. I think this is similar to `--stream`. Can you try this?

[2018-03-09 04:25] jeroen commented on #51
Hmm I think there is another problem that I am internally using `readLines()` but your json doesn't have any linebreaks. I'll have to look into this more closely.

[2018-03-09 13:07] noamross commented on #51
I tried this with the new stream flag, but it crashed RStudio and just hangs when I run via Rscript in the terminal:

[code]

[2018-03-15 02:14] jeroen opened #68 "Look into ndjson-cli"
https://github.com/mbostock/ndjson-cli

[2018-03-15 17:21] sckott commented on #68
blog post related https://medium.com/@mbostock/command-line-cartography-part-2-c3a82c5c0f3

[2018-03-16 01:48] sckott opened #69 "make it clear/possible how to use modules"
https://stedolan.github.io/jq/manual/#Modules

[2018-03-27 16:42] sckott opened #70 "Fix flags"
`--stream` and `--seq`

[2018-03-27 16:43] sckott commented on #70
there's `stream` and `seq` params in `jq_flags` but apparently they don't work

[2018-03-27 16:45] sckott commented on #70
stream eg https://github.com/stedolan/jq/wiki/FAQ#streaming-json-parser

[2018-03-28 09:26] jeroen commented on #70
This is broken:

[code]

[2018-04-23 06:19] maelle opened #71 "Encoding with jqr::jq"
I've noticed this when parsing GitHub API V4 results with my name in it. 😢  Minimal example:

[code]

Created on 2018-04-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-04-23 13:45] sckott commented on #71
does it still mess up if you assign it to an object and then unclass it? wonder if the print statement messes it up, or if it's already messed up

[2018-04-23 13:47] maelle commented on #71
hmmm not sure what you mean.

The actual context in which I noticed this was using https://github.com/ropenscilabs/ghrecipes/blob/master/R/get_master_committers.R for ropensci/codemetar

[2018-04-23 13:51] sckott commented on #71
like

[code]

[2018-04-23 13:53] maelle commented on #71
[code]

Created on 2018-04-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-04-23 16:06] sckott commented on #71
bummer, will see where that's happening.

[2018-04-23 17:02] maelle commented on #71
I am the truffle hog of Windows encoding issues 🐷

[2018-04-26 05:29] SymbolixAU opened #72 "Unhandled exception"
The code I've written is almost certainly not valid, but, I'm pointing out this issue as it may be something to resolve at the `C` level to prevent a crash?

While playing about with [this SO question](https://stackoverflow.com/q/50034023/5977215) I wrote the following which crashes my R / RStudio

[code]

[code]

[2018-04-26 14:47] sckott commented on #72
not sure why that fails. it does seem to be in the jq documentation.

[2018-04-30 21:48] jeroen commented on #72
What is the expected output of this jq program?

[2018-04-30 21:49] SymbolixAU commented on #72
I've no idea. I was just messing about with command to see what they did.

[2018-04-30 22:05] #71 closed

[2018-04-30 22:10] jeroen commented on #71
Thanks Maï¿½lle!

[2018-05-03 14:24] maelle opened #73 "sysreqs"
@jeroen `jqr` dependencies do not seem to be in sysreqs DB yet? Here is probably not the best place to open an issue though 🤔

[code]

Created on 2018-05-03 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-03 14:26] jeroen commented on #73
Yes better open an issue or pull request in sysreqdb.

[2018-05-03 14:29] maelle commented on #73
https://github.com/r-hub/sysreqsdb/issues/43

[2018-05-03 14:29] #73 closed

[2018-08-15 00:56] mmuurr commented on #30
An example of an option that'd be nice is `--slurp`, this would make merging arrays a bit easier, like so:
[code]
Is there another easy way to combine (an arbitrarily-long collection of) arrays without the slurp option?

[2018-08-16 16:54] sckott commented on #30
right, there is that solution, glad at least something works. Glad jqr is already helping you out!  hopefully we'll get this sorted soon

[2018-10-12 18:34] kylehamilton commented on #29
Here's a package that we used for making the hex sticker for [mchtoolbox](https://github.com/ropenscilabs/mchtoolbox)
https://github.com/GuangchuangYu/hexSticker

[2018-10-12 18:36] sckott commented on #29
thanks @kylehamilton

[2018-10-19 15:57] hammer opened #74 "Release 1.1.0 or note that build_object is only available if installed from GitHub"
I like the `build_object` syntax but was surprised to not find it in the `jqr` namespace. Upon further inspection I realized it's not in the currently released `1.0.0`. Any reason not to cut a `1.1.0` release? If so, it's probably worth noting in the README that `build_object` won't be found in the currently released version.

[2018-10-19 15:58] hammer commented on #74
Hmm when I try to install from GitHub I get:

[code]

[2018-10-19 16:36] sckott commented on #74
@hammer thanks for the issue.

I often solve this by restarting the R session

[2018-10-19 16:47] hammer commented on #74
Ha indeed I tried the "power cycle" and it did not resolve the issue; I can do more debugging if it's not a known problem.

[2018-10-19 16:58] sckott commented on #74
ok. does `remove.packages("jqr")` then reinstall `remotes::install_github("ropensci/jqr")` work?

[2018-10-19 18:31] sckott commented on #74
I'm looking through the issues for this milestone to see where we're at

[2018-10-19 23:42] sckott commented on #55
sorted now

[2018-10-19 23:42] #55 closed

[2018-10-19 23:57] sckott commented on #56
work still on branch https://github.com/ropensci/jqr/compare/return-type - just merged in from master - need to clean up and see how previous approach will work with new jq/jqr setup, see R/jq.R

[2018-10-20 16:36] sckott opened #75 "cran warning: strncpy"
on four different builds i think

`jqr.c:11:3: warning: 'strncpy' specified bound 1000 equals destination size [-Wstringop-truncation]`

here

https://github.com/ropensci/jqr/blob/master/src/jqr.c#L19

[2018-10-22 20:43] sckott commented on #75
fixed in 82ce355

[2018-10-22 20:43] #75 closed

[2018-10-22 20:46] sckott commented on #74
submitting today

[2018-10-22 20:46] #74 closed

[2019-01-18 21:32] mmuurr opened #76 "protection stack overflow errors on medium(?)-sized inputs"
When using jqr on largish inputs, I'm finding frequent `protection stack overflow` errors.
Here's a simple reprex with 100,000 input strings (on my machine):

[code]
[code]

With 10,000 inputs, no error:
[code]
[code]
Any ideas?

<details><summary>Session Info</summary>

[code]

</details>

[2019-01-18 21:56] sckott commented on #76
Thanks for the report @mmuurr

We came upon this recently, see https://github.com/ropensci/geojson/issues/36

The answer is essentially that you're pushing too much data in at once, so try to push in smaller chunks if possible. Is it possible in your case?

@jeroen With this example that 100K length JSON works fine with jq on the cli, so is there anything we can do change this? If not, maybe we ca

[2019-04-23 18:06] PoGibas opened #77 "libjq was not found on Linux systems"
`install.packages("jqr")` returns `Configuration failed because libjq was not found` on:

- CentOS Linux 7 (3.5.1)
- Ubuntu 16.04.4 (3.5.1)

But works on macOS Mojave (3.5.2).

It's possible to specify path using suggested method from the error message:

[code]

However this causes problems when trying to pass Travis CI

[2019-04-23 20:35] sckott commented on #77
sounds like your use case is tyring to install jq on travis?  or both on your own machine and travis? can you share the actual error message you get

[2019-04-23 20:45] jeroen commented on #77
Try to using the same [`.travis`](https://github.com/ropensci/jqr/blob/master/.travis.yml) configuration as this repo:

https://github.com/ropensci/jqr/blob/5d2c2f7a3688b0da8b3b99688da70b3df7385bb4/.travis.yml#L19-L24

[2019-04-30 14:33] #77 closed

[2019-09-09 18:10] mmuurr opened #78 "NA handling"
Currently `jqr::jq` handles `NA` entries in a character vector by erring.

Should it return an `NA` value in the returned vector instead?

[2019-09-09 18:44] sckott commented on #78
thx for this. can you please give an example and session info

[2020-01-24 09:00] mgirlich commented on #78
Here you have an example + session info for this

[code]

<sup>Created on 2020-01-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-01-24 09:05] mgirlich opened #79 "jq() paste bare numbers together"
The following code returns "12" instead of "1" and "2" separately

[code]

<sup>Created on 2020-01-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-01-24 09:08] mgirlich opened #80 "Error message suppressed and incorrect result returned"
The following gives an jq error but the error is actually not thrown. Further, we get a length 1 vector instead of a length 2 as expected.

[code]

<sup>Created on 2020-01-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-01-24 12:13] mgirlich opened #81 "Better error message in check1()"

[2020-01-24 16:10] sckott commented on #79
thanks for this @mgirlich

jq expects JSON as the input as the documentation states, so this works as expected i think

[code]

[2020-01-24 16:17] sckott commented on #80
again, jq expects json https://github.com/ropensci/jqr/issues/79#issuecomment-578194808

[2020-01-24 16:17] sckott commented on #81
thanks, but you're going to have to say more than that

[2020-01-24 16:26] sckott commented on #78
thanks @mgirlich  - having a look

[2020-01-24 16:27] #78 closed

[2020-01-24 16:27] sckott commented on #78
should error better now

[2020-01-27 05:57] mgirlich commented on #79
bare numbers are also valid json ([see standard](https://www.json.org/json-en.html) and try out at [jsonlint](https://jsonlint.com/)).
My workflow is something like in the following code

[code]

<sup>Created on 2020-01-27 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-27 05:59] mgirlich commented on #81
oh, sorry, this issue should have gone elsewhere.

[2020-01-27 05:59] #81 closed

[2020-01-27 06:05] mgirlich commented on #80
slightly modified example with an array as input:

[code]

<sup>Created on 2020-01-27 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-27 18:08] sckott commented on #80
@jeroen any thoughts on this issue. it does appear that it should throw an error

[code]

[2020-01-27 18:09] sckott commented on #79
@jeroen any thoughts on this issue. seems that it shouldn't combine the numbers together

[code]

[2020-09-19 05:08] mmuurr commented on #76
Hi there, just a polite re-surfacing of this issue, which I've run into again. I think breaking up long JSON (character) vectors into chunks works just great and designing a simple wrapper to do so that then recombines the jqr results is indeed relatively easy. I'm wondering if there's:
1. Any guidance on what that appropriate chunk size would be in number of strings (i.e. _length_ of vector) and/

[2020-09-22 17:49] sckott commented on #76
Thanks @mmuurr - sorry for the delay on this.

That makes sense that it's 10K, since
 https://github.com/stedolan/jq/blob/9b51a0852a0f91fbc987f5f2b302ff65e22f6399/src/parser.c#L1692 via https://github.com/stedolan/jq/issues/1054 and https://github.com/stedolan/jq/issues/1041

I think a wrapper belongs here in the package.

byte size does seem like it would be more appropriate.

can you send a PR a

[2020-11-11 23:07] sckott commented on #80
@mgirlich Sorry about the delay. We have limited bandwidth to work on this. Fastest way is if you have submit a PR with a fix/change

[2020-11-11 23:08] sckott commented on #79
@mgirlich Sorry about the delay. We have limited bandwidth to work on this. Fastest way is if you have submit a PR with a fix/change

[2020-11-11 23:08] #72 closed

[2020-11-11 23:09] #61 closed

[2020-11-11 23:09] #29 closed

[2020-11-11 23:10] #63 closed

[2020-11-11 23:11] sckott commented on #51
FYI anyone reading this issue. We have limited bandwidth to work on this package. Fastest way to address this is to submit a PR with a fix/change

[2020-11-11 23:12] sckott commented on #64
closing, package was made at lq, but archived now https://github.com/ropensci-archive/lq

[2020-11-11 23:12] #64 closed

[2020-11-11 23:12] #68 closed

[2020-11-13 11:03] GGerProg opened #83 "jqr in CentOS8 : * rpm: jq-devel (Fedora, EPEL) EXist?"
Hi, I'm trying to install jqr in my centOS8 VM and this is the result:
[code]

so I look for the jq-devel installation for the centOS8 but seams like it not exist (I found it only for centOS7).
Can you help me with this issue?
It's very important because is for an Accademic Dashboard we are using to study the spread of the covid19.

Thank you

[2020-11-13 15:57] sckott commented on #83
thanks for the issue  - related issue #77

I did find this https://centos.pkgs.org/8/centos-appstream-aarch64/jq-1.5-12.el8.aarch64.rpm.html and for a few other architectures on centos 8 - do any of those work?

[2020-11-14 14:32] stla commented on #79
Hello,

 I encountered a similar strange behavior with arrays of numbers:

[code]

[2020-11-14 16:22] GGerProg commented on #83
Hi sckott, thanks for your answer. My problem is with jq**-devel**, not with jq. Do you know if there is a way to install it on centOS8?

[2020-11-15 00:53] sckott commented on #83
don't know of any for jq-devel for centos8

[2020-11-16 20:04] sckott commented on #79
thanks @stla but the above eg is not reproducible. what are `vv` and `kk` in reproducible code

[2020-11-17 08:36] stla commented on #79
Ah yes, sorry.

[code]

[2020-11-17 19:57] sckott commented on #79
that is weird. if you do it all in one go it turns out as expected i think:

[code]

can you do it that way?

[2020-12-07 11:26] mskyttner opened #84 "Passing --raw-output jq flag to enable json -> csv conversion to be "pushed down" to jq and enabling jqr to picking up nonjson results"
This is an issue or perhaps feature request related to having jqr support raw output from jq, with non-json return type. The use case is to use jqr to "push down" some queries/work to jq which would benefit from jqr supporting the "--raw-output" option when returning for example csv data.

An example of such a use case is working with a large json(ish) file, getting only some elements, converting

[2020-12-07 19:48] sckott commented on #84
Thanks for the issue!

It's not clear if we can support raw output or not. The flags stuff is a bit beyond my comprehension of jq and our interface with it. I'd like to support this, but probably can't sort this out myself.

Do you know of a proposed fix?

[2020-12-07 21:09] mskyttner commented on #84
I tried to untangle it a little but I'm not so sure about the lowlevel stuff. I think a proposed fix perhaps would involve steps like:

- Add a parameter (for passing the "raw-output" and other such jq options/flags) [here](https://github.com/ropensci/jqr/blob/master/src/jqr.c#L29-L39), basically adding code to do more of what is done [here in main.c](https://github.com/stedolan/jq/blob/master/src

[2020-12-09 12:14] mskyttner commented on #84
My workaround for now, when using jq with "--raw-output" while converting to CSV is to "shell out" to a 4MB docker image and passing results back to R:

[code]

[2020-12-16 16:14] sckott commented on #84
Thanks - i will try to have a look soon, no promises